body {
  margin: 0;
  font-family: Metropolis, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  border-bottom: 20px solid #00d7ff;
  color: white;
}

.App-header .title {
  margin-top: 40px;
}

.App-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.2s all;
}
.App-header a:hover {
  opacity: 0.7;
}

.App-header img {
  width: 100%;
  height: auto;
  display: block;
}

.githubIcon {
  height: 30px;
  margin-right: 5px;
}

.Countdown {
  margin: 80px auto 10px;
  padding-bottom: 20px;
}

.Countdown-col {
  display: inline-block;
}

.Countdown-col-element {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  text-align: center;
  font-size: 60px;
}

.Countdown-col-element strong {
  font-size: 300px;
  display: block;
}
